<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Scraper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mars Data</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Lets Find some info about Mars!</a></p>
        </div>
    </div>
        <!-- Mars Scraped Data -->
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                <h2>Lastest News about Mars!</h2>
                <h4>{{mars.news_headline}}</h4>
                <p>{{mars.news_description}}</p>
            </div>
        </div>
    </div>

    <div class = "container">
        <h4>Featured Image from JPL</h4>
        <div class="content">
            <img scr="{{mars.featured_img}}" alt="Featured Image" style = "width: auto; height: auto;">
        </div>
        <a href="{{mars.featured_img}}">Image Source</a>
    </div>


    


</body>

</html>