<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Scraper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Lets Find some info about Mars!</a></p>
        </div>
    </div>
        <!-- Mars Scraped Data -->
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                <h2>Lastest Mars News</h2>
                <h4>{{mars.news_headline}}</h4>
                <p>{{mars.news_description}}</p>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "row"> 
            <h4>Featured Mars Image from JPL</h4>
            <div class="col-md-8 col-sm-12">
                <img src="{{mars.featured_img}}" class = 'img-fluid' alt="Featured Image" style="max-width:100%; max-height: auto;">
                <div>
                    <a href="{{mars.featured_img}}">Image Source</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="box">
                    <h4> Mars Facts</h4>
                </div>
                <div>
                    {{mars.html_tabel | safe}}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = col-12>
                <h2 class = "text-center">Mars Hemispheres</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for img in mars.hemishere_urls %}
            <div class="card col-md-6 col-sm-12">
                <img class = "car-img-top" src="{{img.url}}" alt="{{img.title}}" style="width:100%">
                    <div class = "card-body">
                        <h4 class = "card-title">{{img.title}}</h4>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>


    


</body>

</html>